<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <!-- Source: http://stackoverflow.com/questions/37230036/webforms-unobtrusivevalidationmode-requires-a-scriptresourcemapping-for-jquery -->
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <connectionStrings>
    <add name="authenticateEntities" connectionString="Data Source=tcp: 136.61.7.85,15926;Initial Catalog=master;uid=team3login;pwd=bananas" providerName="System.Data.SqlClient"/>
  </connectionStrings>


</configuration>
